Host *
    IdentitiesOnly yes

Host undercloud-root
{% if undercloud_type == 'virtual' %}
    ProxyCommand {{ undercloud_ssh_proxy_command }}
{% else %}
    Hostname {{ undercloud_ip }}
{% endif %}
    IdentityFile {{ansible_ssh_private_key_file}}
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host undercloud
    Hostname {{ undercloud_ip }}
    IdentityFile {{ansible_ssh_private_key_file}}
    User {{ undercloud_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% if groups["overcloud"] is defined %}
{% for host in groups["overcloud"] %}

Host {{ host }}
    ProxyCommand ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ConnectTimeout=60 -F {{ local_working_dir }}/ssh.config.ansible undercloud -W {{ hostvars[host].ansible_fqdn }}:22
    IdentityFile {{ hostvars[host].ansible_private_key_file }}
    User {{ overcloud_user | default ('heat-admin') }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% endfor %}
{% endif %}
