git+https://github.com/openstack/browbeat
git+https://github.com/openstack/tripleo-quickstart
git+https://github.com/openstack/tripleo-quickstart-extras
git+https://github.com/mbruzek/tripleo-quickstart-scalelab
