#! /bin/sh
#

USER="{{cloud_title}}" 
PASS="{{ticket_number}}" 
FOREMAN_URL="{{foreman_url}}" 
NAME="{{undercloud_hostname}}"

curl -H 'Content-Type: application/json' \
     -k -X PUT \
     -u $USER:$PASS \
     -d '{"host": {"build": "1"}}' \
     $FOREMAN_URL/api/hosts/$NAME
