#!/bin/bash
# This script tells foreman to rebuild the host.

USER="{{cloud_title}}"
PASS="{{ticket_number}}"
FOREMAN_URL="{{foreman_url}}"
NAME="{{undercloud_hostname}}"

RESPONSE=$(curl --silent --show-error --insecure \
     -H 'Content-Type: application/json' \
     -X PUT \
     -u $USER:$PASS \
     -d '{"host": {"build": "1"}}' \
     $FOREMAN_URL/api/hosts/$NAME)

echo $RESPONSE

# Check the response for the error key and exit this script appropriately.
if [[ $RESPONSE == *"error"* ]]; then
  exit 1
else
  exit 0
fi
