#!/usr/bin/env bash
ts=$(date -u +%Y%m%d-%H%M%S)
if [ -z "$1" ]; then
  log=/home/stack/alderaan-deploy/log/overcloud-deploy-${ts}.log
else
  log="$1/overcloud-deploy-${ts}.log"
fi
date -u >> ${log}

# Newton(10)/Ocata(11) Deploy
{ time openstack overcloud deploy --templates /usr/share/openstack-tripleo-heat-templates/ -r /home/stack/templates/roles_data-notelem.yaml -e /home/stack/templates/scheduler-hints.yaml -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml -e /home/stack/templates/network-environment.yaml -e /home/stack/templates/{{cephstorage_type}}-storage-environment.yaml -e /home/stack/templates/disable-notifications.yaml -e /home/stack/templates/environments/neutron-firewall.yaml -e /home/stack/templates/environments/args.yaml -e /home/stack/templates/environments/compute-params.yaml -e /home/stack/templates/environments/controller-params.yaml -e /home/stack/templates/environments/firstboot-env.yaml -e /home/stack/templates/deploy.yaml --ntp-server {{ntp_server}} 2>&1 | tee -a ${log} ; } 2>> ${log}

date -u >> ${log}

# Make sure to fail if Overcloud Deployed is not found:
grep -q -i "Overcloud Deployed" ${log}
