#!/bin/bash

set -eux
/home/stack/alderaan-deploy/pin.py -n {{num_controllers}} -p controller --hint {{controller_type}} -c
{% for node_type in openstack_deployment_hosts %}
/home/stack/alderaan-deploy/pin.py -n {{node_type['host_type']['count']}} -p {{node_type['host_type']['pin']}} --hint {{node_type['host_type']['hint']}}
{% endfor %}
