#!/usr/bin/env bash
ts=$(date -u +%Y%m%d-%H%M%S)
if [ -z "$1" ]; then
  log=/home/stack/alderaan-deploy/log/overcloud-post-deploy-${ts}.log
else
  log="$1/overcloud-post-deploy-${ts}.log"
fi
date -u >> ${log}

source /home/stack/stackrc

{% if version == '13' %}
# Fix Ceph pg/pgp counts
{% for pool in ceph_pools %}
ANSIBLE_HOST_KEY_CHECKING=False ansible -i /usr/bin/tripleo-ansible-inventory Controller -b --limit 'overcloud-controller-0' -m shell -a 'ceph osd pool set {{ pool.pool_name }} pg_num {{ pool.pg_num }}'  | tee -a ${log}
ANSIBLE_HOST_KEY_CHECKING=False ansible -i /usr/bin/tripleo-ansible-inventory Controller -b --limit 'overcloud-controller-0' -m shell -a 'ceph osd pool set {{ pool.pool_name }} pgp_num {{ pool.pg_num }}'  | tee -a ${log}
{% endfor %}
# Fix heat_api
ANSIBLE_HOST_KEY_CHECKING=False ansible -i /usr/bin/tripleo-ansible-inventory Controller -b -m shell -a 'docker restart heat_api'  | tee -a ${log}

{% endif %}

date -u >> ${log}
