Welcome to OpenStack {{ version }} running on RHEL {{ rhel_version }}!

Using the {{ build }} build of Red Hat OpenStack {{ rhos_release }}.

{{ undercloud_hostname }} is the undercloud for the {{ clusterid }} OpenShift cluster.
